<div class="container mt-5 mb-5">
    <div class="row align-items-center">
        <div class="col">
            <div class="row justify-content-center">
                <div class="text-center">
                    <h2>Bienvenue sur </h2><h2>SECRET SANTA</h2>
                </div>
            </div>
        </div>

        <div class="col pt-sm-5">
            <sign-in-form></sign-in-form>
        </div>       
    </div>
</div>

<hr class="mt-5 mb-5" width="70%">
<div class="container mt-5 mb-5">
    <div class="d-flex flex-row">
        <div id="t1" class="d-flew col align-items-center ml-3 text-center">
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dicta expedita cupiditate ea laborum porro dignissimos harum eum. Cum omnis expedita architecto hic consectetur quas praesentium in rem. Aut, veritatis dolorem.</p>
        </div>
    </div>
</div>	