<div class="pt-5">
    <h2>Mon compte</h2>
    <div class="card mt-5">
        <h2 class="card-header center">Bonjour {{username}} </h2>
        <div class="card-body">

          <div class="col justify-content-center text-center">
            <div>
              <h4 class="title">Compte à rebours avant <strong>Noël</strong></h4>
            </div>
            <div>
              <app-countdown units="Days | Hours | Minutes | Seconds"  end="December 25, 2020 00:00:00"></app-countdown>
            </div>
            <div>
              <p>Allez vite préparer vos listes pour Santa Oh Oh Oh !</p>
            </div>
          </div>

          <div class="table-responsive" *ngIf="invits.length>0">
            <table class="table table-striped">
              <caption class="sr-only">Vos invitation</caption>
                <thead class="thead-dark">
                  <tr>
                    <th scope="col">Invitation </th>
                    <th scope="col"></th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let item of invits;let i=index">
                    <td> {{item.msg}} </td>
                    <td class="row justify-content-around">
                      <form name="form" (submit)="acceptInvit(i)">
                        <button type="submit" class="btn btn-success btn-sm">Accepter</button>
                      </form>
                      <form (submit)="refuseInvit(i)">
                        <button type="submit" class="btn btn-danger btn-sm">Refuser</button>
                      </form>
                    </td>
                  </tr>
                </tbody>
            </table>
          </div>
        </div>
    </div> 
</div>